.ghost {
  border: 2px solid #333;
  padding: 5px 8px;
  font-size: 14px;
  border-radius: 0px;
  background-color: transparent;
  -webkit-transition: background-color, color 100ms ease;
  -moz-transition: background-color, color 100ms ease;
  -ms-transition: background-color, color 100ms ease;
  -o-transition: background-color, color 100ms ease;
  transition: background-color, color 100ms ease;
  
  &:hover {
    cursor:pointer;
    background-color: #333;
    color:lighten(#333, 50%);
  }

  &.primary {
    border: 2px solid #4a90e2;
    &:hover {
      background-color: #4a90e2;
      color:lighten(#4a90e2, 50%);
    }
  }
  
}