header {
  
  &#header {
    z-index:200;
    position:fixed;
    top:0; right:0; left:0;
    height:60px;
    background-color:rgba(51,51,51,1);
    font-family:'Lato', sans-serif;
    -webkit-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;

    .header-container {
      margin:6px 15px;
      .logo {
        float:left;
        display:block;
        width:45px;
        height:45px;
      }
      .user {
        float:right;
        .new { 
          float:left; 
          margin:15px;
          .ghost {
            padding:5px 15px;
            border-radius:0;
            border:2px solid #4a90e2;
            color:#4a90e2;
            &:hover {
              background-color:#4a90e2;
              color:lighten(#4a90e2, 50%);
            }
          }
        }
        .avatar {
          // float:left;
          border-radius:22.5px;
          display:block;
          width:45px;
          height:45px;
        }
      }
    }

    &.up { top:-60px; }
    &.down { top:0px; }
  }

  &#header-article-info {
    z-index:200;
    position:relative;
    height:45px;
    top:0; left:0; right:0;
    background-color:rgba(51,51,51,1);
  }

}

.padded-top {
  display:block;
  position:relative;
  height:60px;
  background-color:transparent;
  width:100%;
}